-
    var user = {name:'Быстров Борис Викторович',
        email:'bystrov@gmail.com'
    }

header.header
    .container.clearfix
        .header__user
            img(src='resource/img/user.png' class='header__user-pic')
            .header__user-info
                h1.header__user-name= user.name
                p.header__user-email= user.email
        .header__social
            ul.header__social-list
                each icon in ['fa-github','fa-skype','fa-vk']
                    li.header__social-item
                        a(href='#' class='social-link')
                            i(class='fa ' + icon aria-hidden='true')