-
    var courses = [
    {title:'Основы JavaScript',
    text:'Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.',
    time:'4 урока (6 часов 46 минут)',
    image:'resource/img/js.png'
    },

    {title:'Основы JQUERY',
    text:'Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.',
    time:'11 уроков (2 часа 6 минут)',
    image:'resource/img/jq.png'
    },

    {title:'Базовые элементы страницы',
    text:'Видеокурс по верстке и программированию основных и популярных элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон, слайдшоу, слайдер и т.д.',
    time:'9 уроков (2 часа 7 минут)',
    image:'resource/img/base-elem.png'
    },

    {title:'Создание адаптивных сайтов',
    text:'В этом курсе вы узнаете как создавать адаптивные сайты, что такое адаптивная верстка и дизайн.',
    time:'7 уроков (2 часа 11 минут)',
    image:'resource/img/adaptive.png'
    },

    {title:'Верстка адаптивной css галереи',
    text:'В этом видеокурсе вы изучите инструменты, техники и подходы для web-разработчика, которые помогут вам решать поставленные задачи более быстро и эффективно.',
    time:'6 уроков (1 час 9 минут)',
    image:'resource/img/button-gen.png'
    },

    {title:'Верстка адаптивной css галереи',
    text:'В этом курсе мы разберем как сверстать адаптивную css галерею. Также познакомимся с Flexbox.',
    time:'4 урока (50 минут)',
    image:'resource/img/css-gallery.png'
    }
    ]


section.courses
    .container
        h2.courses-title Курсы на loftblog
        p.courses-subtitle которые мне помогут в выполнении этого задания
        ul.courses__list
            each course in courses
                li.courses__list-item
                    img(src=course.image alt='pic' class='courses-pic')
                    .hover-line
                    .courses__list-content
                        h3.courses__list-title= course.title
                        p.courses__list-text= course.text
                        .courses__list-time
                            i(class='fa fa-clock-o' aria-hidden='true')
                            span= course.time
                    .courses-check
                        i(class='fa fa-square-o' aria-hidden='true')
                        span Посмотрел
        .complete
            i(class='fa fa-check' aria-hidden='true')
            span Задание выполнено.