$footer-bg: #262626;

.footer {
    min-height: 72px;
    padding: 10px 0;
    background: $footer-bg;

    .footer__text {
        margin: 0 auto;
        max-width: 520px;
        padding: 5px;
        text-align: center;
        @include font('fira_sans-regular');
        line-height: 1.5;
        color: #fff;
        opacity: 0.5;
    }
}