.courses {
    padding-bottom: 5px;
    padding-top: 110px;

    .container {
        position: relative;
        min-height: 650px;
        max-width: 960px;
        padding: 0 10px;
    }

}

@media screen and (max-width: 330px) {
    .courses {
        .container {
            padding: 0;
        }
    }

}

.courses-title {

    text-align: center;
    @include font('fira_sans-medium');
    line-height:1.25;
    font-size: 42px;
    color: #262626;
}

.courses-subtitle {
    margin-top: 12px;
    text-align: center;
    @include font('fira_sans-light');
    font-size: 21px;
    color: #727272;
}

.courses__list {
    margin: 43px auto 55px;
    text-align: center;
    font-size: 0;
}

.courses-pic {
    display: block;
    width: 100%;
    height: auto;
}

.courses__list-item {
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 24px;
    width: 300px;
    text-align: left;
    font-size: 14px;
    vertical-align: top;
    border-radius: 2px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
    background-color: #fff;
    cursor: pointer;
    &.selected{
        background: #ecf4e3;
        .courses-check,
        .courses-check .fa{
            color: #9dc255;
        }
        .courses__list-title{
            color: #727272;
        }
    }
    &:hover{
        .courses__list-title {
            color: #9dc255;
        }
        .hover-line{
            visibility: visible;
        }
    }

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.courses__list-content {

    padding: 17px 21px;
}

.courses__list-title {
    @include font('fira_sans-regular');
    font-size: 21px;
    color: #000;
    line-height: 1.1;
}

.courses__list-text {
    margin-top: 10px;
    line-height: 1.5;
}

.courses__list-time {
    padding-top: 12px;
    color: #b5b5b5;

    .fa {
        margin-right: 5px;
    }
}

.courses-check {
    padding: 17px 20px 17px 20px;
    @include font('fira_sans-regular');
    font-size:18px;
    background: #f6f7f2;

    .fa {
        margin-right: 19px;
        vertical-align: bottom;
        font-size: 25px;
        color: #b5b5b5;
    }
}

@media screen and (min-width: 681px) and (max-width: 981px) {
    .courses__list-item {
        margin-right: 20px;
        &:nth-child(3n) {
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 680px) {

    .courses__list-item {
        display: block;
        margin-right: auto;
        margin-left: auto;
        &:nth-child(3n) {
            margin-right: auto;
        }

    }

    .courses-title {
        font-size: 32px;
    }

    .courses-subtitle {
        font-size: 20px;

    }
}

.hover-line {
    position: relative;
    visibility: hidden;
    margin-top: -5px;
    width: 100%;
    height: 5px;
    background-color: #9dc255;
}

.complete {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 40%;
    margin-top: -52px;
    text-align: center;
    @include font('fira_sans-medium');
    font-size: 42px;
    color: #9dc255;

    .fa-check {
        margin-right: 20px;
    }
}

