extends layouts/_layout

block title
    title ls-tz

append styles
    link(rel='stylesheet' href="bower_components/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet' href='css/style.css')

append scripts
    script(src='js/jquery.min.js')
    script(src='js/script.js')


block content
    .wrapper
        include templates/_header
        include templates/_section-about
        include templates/_section-courses


block footer
    include templates/_footer


