extends layouts/_layout

block title
    title LoftShool-TZ

block main-styles

    link(rel='stylesheet' href='css/style.css')


block main-scripts

    script(src='js/script.js')



block content
    .wrapper
        include templates/_header
        include templates/_section-about
        include templates/_section-courses


block footer
    include templates/_footer


