@font-face {
  font-family: fira_sans-light;
  src: url('../fonts/FiraSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: fira_sans-regular;
  src: url(../fonts/FiraSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: fira_sans-medium;
  src: url(../fonts/FiraSans-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

