footer.footer
    .container
        .footer__text.
            А это футер, с текстом внутри. Он должен быть прибит к низу окна браузера,
                  не зависимо от количества контента на странице и размера окна.


