doctype html
html

    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0")

        block title
            title Page Title
        block vendor-styles
        //build:css css/vendor.css

        //bower:css
        //endbower

        //endbuild

        //build:css css/main.css
        block main-styles
        //endbuild


    body
        block content

        block footer

        //build:js js/vendor.js

        //bower:js
        //endbower

        //endbuild

        //build:js js/main.js
        block main-scripts
        //endbuild



