.header {
  position: relative;

  //for shadow on the bottom block
  z-index: 101;
  padding: 15px 0;
  background-color: #9dc255;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);

  .container {
    padding: 0 30px;

    @include clearfix;
  }
}

.header__user {
  float: left;
  font-size: 0;

  .header__user-pic {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50%;
  }

  .header__user-info {
    display: inline-block;
    margin-left: 19px;
    vertical-align: middle;
  }

  .header__user-name {
    @include font('fira_sans-medium');
    font-size:21px;
    line-height: 1.3;
    color: #ffffff;
  }

  .header__user-email {
    font: 14px / 1.5 "fira_sans-regular", Arial, sans-serif;
    color: #fff;
    opacity: 0.7;
  }
}

.header__social {
  float: right;
  padding: 10px 0;

  .header__social-list {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
  }

  .header__social-item {
    display: inline-block;
    margin-left: 12px;
  }

  .social-link {
    display: block;
    height: 35px;
    width: 35px;
    font-size: 35px;
    color: #fff;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 579px) {
  .header__social {
    padding: 0;
    float: none;
    clear: both;
    width: 170px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 430px) {
  .header__user {
    float: none;

    .header__user-pic {
      display: block;
      margin: 0 auto;
    }

    .header__user-info {
      text-align: center;
      display: block;
      margin: 5px auto;
    }
  }
}
