extends layouts/_layout

block title
    title ls-tz

prepend styles
    //link(rel='stylesheet' href='css/normalize.css')
    //link(rel='stylesheet' href='css/reset.css')
    //link(rel='stylesheet' href='../')
    link(rel='stylesheet' href="../bower_components/font-awesome/css/font-awesome.min.css")
append scripts

block content
    .wrapper
        include templates/_header
        include templates/_section-about
        include templates/_section-courses

block foot
    include templates/_footer
