extends layouts/_layout

block title
    title ls-tz

append styles

append scripts

block content
    .wrapper
        include templates/_header
        include templates/_section-about
        include templates/_section-courses

block foot
    include templates/_footer
